<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Scraper Exercise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link scrape" href="#">Scrape <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/savedarticles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link delete" href="#">Delete</a>
                </li>
            </ul>
        </div>
    </nav>
    {{#each article}}
    <div class="row text-center justify-content-center">
        <div class="col-md-8 p-2 border">
            <h5>{{title}}</h5>
            <a href=" {{link}}">click here for the entire article</a>
            <br />
            <button class="save btn-warning btn" data-id="{{_id}}">Save Article</button>
        </div>
    </div>
    {{/each}}
</div>
<script src="./scrape.js"></script>